Repository Dashon/multichat-t27wj9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @ai-team-leads, @ml-engineers, @security-team, @backend-leads, @api-team, @messaging-team, @preference-team, @auth-team, @frontend-leads, @web-team, @qa-leads, @test-engineers, @devops-leads, @platform-engineers, @ci-team, @sre-team, @crypto-specialists, @compliance-team, @tech-writers, @db-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/main.py
  src/backend/preference-engine/src/main.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/config/__init__.py
  src/backend/preference-engine/src/config/__init__.py
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/config/settings.py
  src/backend/preference-engine/src/config/settings.py
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/models/__init__.py
  src/backend/preference-engine/src/models/__init__.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/models/preference.py
  src/backend/preference-engine/src/models/preference.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/models/user_profile.py
  src/backend/preference-engine/src/models/user_profile.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/routes/__init__.py
  src/backend/preference-engine/src/routes/__init__.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/routes/preference_routes.py
  src/backend/preference-engine/src/routes/preference_routes.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/services/__init__.py
  src/backend/preference-engine/src/services/__init__.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/services/learning_service.py
  src/backend/preference-engine/src/services/learning_service.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/services/recommendation_service.py
  src/backend/preference-engine/src/services/recommendation_service.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/utils/__init__.py
  src/backend/preference-engine/src/utils/__init__.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/utils/logger.py
  src/backend/preference-engine/src/utils/logger.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/tests/__init__.py
  src/backend/preference-engine/tests/__init__.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/tests/conftest.py
  src/backend/preference-engine/tests/conftest.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/tests/test_learning.py
  src/backend/preference-engine/tests/test_learning.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/tests/test_recommendations.py
  src/backend/preference-engine/tests/test_recommendations.py
Owners: @ai-team-leads, @preference-team

Add public-samples/multichat-t27wj9/src/backend/proto/ai_service.proto
  src/backend/proto/ai_service.proto
Owners: @backend-leads, @api-team

Add public-samples/multichat-t27wj9/src/backend/proto/message_service.proto
  src/backend/proto/message_service.proto
Owners: @backend-leads, @api-team

Add public-samples/multichat-t27wj9/src/backend/proto/preference_service.proto
  src/backend/proto/preference_service.proto
Owners: @backend-leads, @api-team

Add public-samples/multichat-t27wj9/src/backend/proto/user_service.proto
  src/backend/proto/user_service.proto
Owners: @backend-leads, @api-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/app.ts
  src/backend/user-service/src/app.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/server.ts
  src/backend/user-service/src/server.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/config/auth.config.ts
  src/backend/user-service/src/config/auth.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/user-service/src/config/database.config.ts
  src/backend/user-service/src/config/database.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/user-service/src/controllers/auth.controller.ts
  src/backend/user-service/src/controllers/auth.controller.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/controllers/user.controller.ts
  src/backend/user-service/src/controllers/user.controller.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/interfaces/auth.interface.ts
  src/backend/user-service/src/interfaces/auth.interface.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/interfaces/user.interface.ts
  src/backend/user-service/src/interfaces/user.interface.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/middleware/auth.middleware.ts
  src/backend/user-service/src/middleware/auth.middleware.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/models/user.model.ts
  src/backend/user-service/src/models/user.model.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/repositories/user.repository.ts
  src/backend/user-service/src/repositories/user.repository.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/routes/auth.routes.ts
  src/backend/user-service/src/routes/auth.routes.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/routes/user.routes.ts
  src/backend/user-service/src/routes/user.routes.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/services/auth.service.ts
  src/backend/user-service/src/services/auth.service.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/services/user.service.ts
  src/backend/user-service/src/services/user.service.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/src/utils/password.utils.ts
  src/backend/user-service/src/utils/password.utils.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/tests/integration/auth.test.ts
  src/backend/user-service/tests/integration/auth.test.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/user-service/tests/unit/user.test.ts
  src/backend/user-service/tests/unit/user.test.ts
Owners: @backend-leads, @auth-team, @security-team

Add public-samples/multichat-t27wj9/src/test/.env.test
  src/test/.env.test
Owners: @qa-leads, @test-engineers

.github/CODEOWNERS:

* @project-leads

# AI service and ML components ownership with security oversight
/src/backend/ai-service/** @ai-team-leads @ml-engineers @security-team

# API Gateway service ownership with security review
/src/backend/api-gateway/** @backend-leads @api-team @security-team

# Message service ownership
/src/backend/message-service/** @backend-leads @messaging-team

# Preference engine ownership
/src/backend/preference-engine/** @ai-team-leads @preference-team

# User service and authentication ownership with security review
/src/backend/user-service/** @backend-leads @auth-team @security-team

# Web application ownership
/src/web/** @frontend-leads @web-team

# Test suite ownership
/src/test/** @qa-leads @test-engineers

# Infrastructure and deployment ownership with security review
infrastructure/** @devops-leads @platform-engineers @security-team

# CI/CD workflow ownership
.github/workflows/** @devops-leads @ci-team

# Protocol buffer definitions ownership
**/*.proto @backend-leads @api-team

# Security-related code ownership
**/security/** @security-team @project-leads

# Monitoring and observability ownership
**/monitoring/** @devops-leads @sre-team

# Authentication code ownership with mandatory security review
**/auth/** @security-team @auth-team @backend-leads

# Cryptography code ownership
**/encryption/** @security-team @crypto-specialists

# Compliance-related code ownership
**/compliance/** @security-team @compliance-team

# Documentation ownership
**/docs/** @tech-writers @project-leads

# Database schema and migration ownership
**/database/** @db-team @backend-leads

# Configuration file ownership
**/config/** @devops-leads @platform-engineers

# Package dependencies ownership with security review
package.json @project-leads @security-team
