Repository Dashon/multichat-t27wj9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @ai-team-leads, @ml-engineers, @security-team, @backend-leads, @api-team, @messaging-team, @preference-team, @auth-team, @frontend-leads, @web-team, @qa-leads, @test-engineers, @devops-leads, @platform-engineers, @ci-team, @sre-team, @crypto-specialists, @compliance-team, @tech-writers, @db-team

Add public-samples/multichat-t27wj9/src/test/.eslintrc.json
  src/test/.eslintrc.json
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/.prettierrc
  src/test/.prettierrc
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/README.md
  src/test/README.md
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/package.json
  src/test/package.json
Owners: @project-leads, @security-team

Add public-samples/multichat-t27wj9/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/config/environment.ts
  src/test/config/environment.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/test/config/test-config.ts
  src/test/config/test-config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/test/config/test-data.ts
  src/test/config/test-data.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/test/docker/Dockerfile.test
  src/test/docker/Dockerfile.test
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/docker/docker-compose.test.yml
  src/test/docker/docker-compose.test.yml
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/e2e/ai/agent-interaction.test.ts
  src/test/e2e/ai/agent-interaction.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/e2e/ai/context-awareness.test.ts
  src/test/e2e/ai/context-awareness.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/e2e/ai/recommendation-quality.test.ts
  src/test/e2e/ai/recommendation-quality.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/e2e/chat/group-chat.test.ts
  src/test/e2e/chat/group-chat.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/e2e/chat/message-delivery.test.ts
  src/test/e2e/chat/message-delivery.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/e2e/chat/real-time-sync.test.ts
  src/test/e2e/chat/real-time-sync.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/e2e/user/authentication.test.ts
  src/test/e2e/user/authentication.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/e2e/user/authorization.test.ts
  src/test/e2e/user/authorization.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/e2e/user/profile-management.test.ts
  src/test/e2e/user/profile-management.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/fixtures/ai-responses.json
  src/test/fixtures/ai-responses.json
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/fixtures/chat-groups.json
  src/test/fixtures/chat-groups.json
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/fixtures/messages.json
  src/test/fixtures/messages.json
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/fixtures/users.json
  src/test/fixtures/users.json
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/integration/ai/agent-coordination.test.ts
  src/test/integration/ai/agent-coordination.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/integration/ai/context-management.test.ts
  src/test/integration/ai/context-management.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/integration/api/gateway-routing.test.ts
  src/test/integration/api/gateway-routing.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/integration/api/rate-limiting.test.ts
  src/test/integration/api/rate-limiting.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/integration/message/message-persistence.test.ts
  src/test/integration/message/message-persistence.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/integration/message/websocket-connections.test.ts
  src/test/integration/message/websocket-connections.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/integration/preference/learning-system.test.ts
  src/test/integration/preference/learning-system.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/integration/preference/user-preferences.test.ts
  src/test/integration/preference/user-preferences.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/integration/user/user-management.test.ts
  src/test/integration/user/user-management.test.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/performance/artillery/api-endpoints.yml
  src/test/performance/artillery/api-endpoints.yml
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/performance/artillery/websocket-load.yml
  src/test/performance/artillery/websocket-load.yml
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/performance/k6/ai-response-time.test.js
  src/test/performance/k6/ai-response-time.test.js
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/performance/k6/chat-load.test.js
  src/test/performance/k6/chat-load.test.js
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/performance/k6/concurrent-users.test.js
  src/test/performance/k6/concurrent-users.test.js
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/performance/k6/message-throughput.test.js
  src/test/performance/k6/message-throughput.test.js
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/scripts/cleanup-test-data.sh
  src/test/scripts/cleanup-test-data.sh
Owners: @qa-leads, @test-engineers

.github/CODEOWNERS:

* @project-leads

# AI service and ML components ownership with security oversight
/src/backend/ai-service/** @ai-team-leads @ml-engineers @security-team

# API Gateway service ownership with security review
/src/backend/api-gateway/** @backend-leads @api-team @security-team

# Message service ownership
/src/backend/message-service/** @backend-leads @messaging-team

# Preference engine ownership
/src/backend/preference-engine/** @ai-team-leads @preference-team

# User service and authentication ownership with security review
/src/backend/user-service/** @backend-leads @auth-team @security-team

# Web application ownership
/src/web/** @frontend-leads @web-team

# Test suite ownership
/src/test/** @qa-leads @test-engineers

# Infrastructure and deployment ownership with security review
infrastructure/** @devops-leads @platform-engineers @security-team

# CI/CD workflow ownership
.github/workflows/** @devops-leads @ci-team

# Protocol buffer definitions ownership
**/*.proto @backend-leads @api-team

# Security-related code ownership
**/security/** @security-team @project-leads

# Monitoring and observability ownership
**/monitoring/** @devops-leads @sre-team

# Authentication code ownership with mandatory security review
**/auth/** @security-team @auth-team @backend-leads

# Cryptography code ownership
**/encryption/** @security-team @crypto-specialists

# Compliance-related code ownership
**/compliance/** @security-team @compliance-team

# Documentation ownership
**/docs/** @tech-writers @project-leads

# Database schema and migration ownership
**/database/** @db-team @backend-leads

# Configuration file ownership
**/config/** @devops-leads @platform-engineers

# Package dependencies ownership with security review
package.json @project-leads @security-team
