Repository Dashon/multichat-t27wj9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @ai-team-leads, @ml-engineers, @security-team, @backend-leads, @api-team, @messaging-team, @preference-team, @auth-team, @frontend-leads, @web-team, @qa-leads, @test-engineers, @devops-leads, @platform-engineers, @ci-team, @sre-team, @crypto-specialists, @compliance-team, @tech-writers, @db-team

Add public-samples/multichat-t27wj9/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads

Add public-samples/multichat-t27wj9/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/multichat-t27wj9/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/multichat-t27wj9/.github/workflows/ai-service.yml
  .github/workflows/ai-service.yml
Owners: @devops-leads, @ci-team

Add public-samples/multichat-t27wj9/.github/workflows/api-gateway.yml
  .github/workflows/api-gateway.yml
Owners: @devops-leads, @ci-team

Add public-samples/multichat-t27wj9/.github/workflows/message-service.yml
  .github/workflows/message-service.yml
Owners: @devops-leads, @ci-team

Add public-samples/multichat-t27wj9/.github/workflows/preference-engine.yml
  .github/workflows/preference-engine.yml
Owners: @devops-leads, @ci-team

Add public-samples/multichat-t27wj9/.github/workflows/user-service.yml
  .github/workflows/user-service.yml
Owners: @devops-leads, @ci-team

Add public-samples/multichat-t27wj9/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @devops-leads, @ci-team

Add public-samples/multichat-t27wj9/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/multichat-t27wj9/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/multichat-t27wj9/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/multichat-t27wj9/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/multichat-t27wj9/infrastructure/docker/docker-compose.dev.yml
  infrastructure/docker/docker-compose.dev.yml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.prod.yml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/kubernetes/base/ai-service.yaml
  infrastructure/kubernetes/base/ai-service.yaml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/kubernetes/base/api-gateway.yaml
  infrastructure/kubernetes/base/api-gateway.yaml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/kubernetes/base/message-service.yaml
  infrastructure/kubernetes/base/message-service.yaml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/kubernetes/base/monitoring.yaml
  infrastructure/kubernetes/base/monitoring.yaml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/kubernetes/base/preference-engine.yaml
  infrastructure/kubernetes/base/preference-engine.yaml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/kubernetes/base/user-service.yaml
  infrastructure/kubernetes/base/user-service.yaml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/kubernetes/overlays/dev/kustomization.yaml
  infrastructure/kubernetes/overlays/dev/kustomization.yaml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/kubernetes/overlays/prod/kustomization.yaml
  infrastructure/kubernetes/overlays/prod/kustomization.yaml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/kubernetes/overlays/staging/kustomization.yaml
  infrastructure/kubernetes/overlays/staging/kustomization.yaml
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/monitoring/grafana/dashboards/ai-service.json
  infrastructure/monitoring/grafana/dashboards/ai-service.json
Owners: @devops-leads, @sre-team

Add public-samples/multichat-t27wj9/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @devops-leads, @sre-team

Add public-samples/multichat-t27wj9/infrastructure/monitoring/grafana/dashboards/message-service.json
  infrastructure/monitoring/grafana/dashboards/message-service.json
Owners: @devops-leads, @sre-team

Add public-samples/multichat-t27wj9/infrastructure/monitoring/grafana/dashboards/preference-engine.json
  infrastructure/monitoring/grafana/dashboards/preference-engine.json
Owners: @devops-leads, @sre-team

Add public-samples/multichat-t27wj9/infrastructure/monitoring/grafana/dashboards/user-service.json
  infrastructure/monitoring/grafana/dashboards/user-service.json
Owners: @devops-leads, @sre-team

Add public-samples/multichat-t27wj9/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @devops-leads, @sre-team

Add public-samples/multichat-t27wj9/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @devops-leads, @sre-team

Add public-samples/multichat-t27wj9/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @devops-leads, @sre-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/ai-service/main.tf
  infrastructure/terraform/modules/ai-service/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/api-gateway/main.tf
  infrastructure/terraform/modules/api-gateway/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @db-team, @backend-leads

.github/CODEOWNERS:

* @project-leads

# AI service and ML components ownership with security oversight
/src/backend/ai-service/** @ai-team-leads @ml-engineers @security-team

# API Gateway service ownership with security review
/src/backend/api-gateway/** @backend-leads @api-team @security-team

# Message service ownership
/src/backend/message-service/** @backend-leads @messaging-team

# Preference engine ownership
/src/backend/preference-engine/** @ai-team-leads @preference-team

# User service and authentication ownership with security review
/src/backend/user-service/** @backend-leads @auth-team @security-team

# Web application ownership
/src/web/** @frontend-leads @web-team

# Test suite ownership
/src/test/** @qa-leads @test-engineers

# Infrastructure and deployment ownership with security review
infrastructure/** @devops-leads @platform-engineers @security-team

# CI/CD workflow ownership
.github/workflows/** @devops-leads @ci-team

# Protocol buffer definitions ownership
**/*.proto @backend-leads @api-team

# Security-related code ownership
**/security/** @security-team @project-leads

# Monitoring and observability ownership
**/monitoring/** @devops-leads @sre-team

# Authentication code ownership with mandatory security review
**/auth/** @security-team @auth-team @backend-leads

# Cryptography code ownership
**/encryption/** @security-team @crypto-specialists

# Compliance-related code ownership
**/compliance/** @security-team @compliance-team

# Documentation ownership
**/docs/** @tech-writers @project-leads

# Database schema and migration ownership
**/database/** @db-team @backend-leads

# Configuration file ownership
**/config/** @devops-leads @platform-engineers

# Package dependencies ownership with security review
package.json @project-leads @security-team
