Repository Dashon/multichat-t27wj9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @ai-team-leads, @ml-engineers, @security-team, @backend-leads, @api-team, @messaging-team, @preference-team, @auth-team, @frontend-leads, @web-team, @qa-leads, @test-engineers, @devops-leads, @platform-engineers, @ci-team, @sre-team, @crypto-specialists, @compliance-team, @tech-writers, @db-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/kubernetes/main.tf
  infrastructure/terraform/modules/kubernetes/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/message-service/main.tf
  infrastructure/terraform/modules/message-service/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-leads, @sre-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/preference-engine/main.tf
  infrastructure/terraform/modules/preference-engine/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @security-team, @project-leads

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/infrastructure/terraform/modules/user-service/main.tf
  infrastructure/terraform/modules/user-service/main.tf
Owners: @devops-leads, @platform-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @project-leads

Add public-samples/multichat-t27wj9/src/backend/.env.example
  src/backend/.env.example
Owners: @project-leads

Add public-samples/multichat-t27wj9/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @project-leads

Add public-samples/multichat-t27wj9/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @project-leads

Add public-samples/multichat-t27wj9/src/backend/Dockerfile.ai
  src/backend/Dockerfile.ai
Owners: @project-leads

Add public-samples/multichat-t27wj9/src/backend/Dockerfile.api
  src/backend/Dockerfile.api
Owners: @project-leads

Add public-samples/multichat-t27wj9/src/backend/Dockerfile.message
  src/backend/Dockerfile.message
Owners: @project-leads

Add public-samples/multichat-t27wj9/src/backend/Dockerfile.user
  src/backend/Dockerfile.user
Owners: @project-leads

Add public-samples/multichat-t27wj9/src/backend/README.md
  src/backend/README.md
Owners: @project-leads

Add public-samples/multichat-t27wj9/src/backend/package.json
  src/backend/package.json
Owners: @project-leads, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/__init__.py
  src/backend/ai-service/src/__init__.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/main.py
  src/backend/ai-service/src/main.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/agents/__init__.py
  src/backend/ai-service/src/agents/__init__.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/agents/base_agent.py
  src/backend/ai-service/src/agents/base_agent.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/agents/explorer_agent.py
  src/backend/ai-service/src/agents/explorer_agent.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/agents/foodie_agent.py
  src/backend/ai-service/src/agents/foodie_agent.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/agents/planner_agent.py
  src/backend/ai-service/src/agents/planner_agent.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/config/__init__.py
  src/backend/ai-service/src/config/__init__.py
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/config/settings.py
  src/backend/ai-service/src/config/settings.py
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/context/__init__.py
  src/backend/ai-service/src/context/__init__.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/context/context_manager.py
  src/backend/ai-service/src/context/context_manager.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/context/vector_store.py
  src/backend/ai-service/src/context/vector_store.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/models/__init__.py
  src/backend/ai-service/src/models/__init__.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/models/agent.py
  src/backend/ai-service/src/models/agent.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/models/context.py
  src/backend/ai-service/src/models/context.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/models/message.py
  src/backend/ai-service/src/models/message.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/routes/__init__.py
  src/backend/ai-service/src/routes/__init__.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/routes/agent_routes.py
  src/backend/ai-service/src/routes/agent_routes.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/services/__init__.py
  src/backend/ai-service/src/services/__init__.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/services/langchain_service.py
  src/backend/ai-service/src/services/langchain_service.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/services/openai_service.py
  src/backend/ai-service/src/services/openai_service.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/utils/__init__.py
  src/backend/ai-service/src/utils/__init__.py
Owners: @ai-team-leads, @ml-engineers, @security-team

.github/CODEOWNERS:

* @project-leads

# AI service and ML components ownership with security oversight
/src/backend/ai-service/** @ai-team-leads @ml-engineers @security-team

# API Gateway service ownership with security review
/src/backend/api-gateway/** @backend-leads @api-team @security-team

# Message service ownership
/src/backend/message-service/** @backend-leads @messaging-team

# Preference engine ownership
/src/backend/preference-engine/** @ai-team-leads @preference-team

# User service and authentication ownership with security review
/src/backend/user-service/** @backend-leads @auth-team @security-team

# Web application ownership
/src/web/** @frontend-leads @web-team

# Test suite ownership
/src/test/** @qa-leads @test-engineers

# Infrastructure and deployment ownership with security review
infrastructure/** @devops-leads @platform-engineers @security-team

# CI/CD workflow ownership
.github/workflows/** @devops-leads @ci-team

# Protocol buffer definitions ownership
**/*.proto @backend-leads @api-team

# Security-related code ownership
**/security/** @security-team @project-leads

# Monitoring and observability ownership
**/monitoring/** @devops-leads @sre-team

# Authentication code ownership with mandatory security review
**/auth/** @security-team @auth-team @backend-leads

# Cryptography code ownership
**/encryption/** @security-team @crypto-specialists

# Compliance-related code ownership
**/compliance/** @security-team @compliance-team

# Documentation ownership
**/docs/** @tech-writers @project-leads

# Database schema and migration ownership
**/database/** @db-team @backend-leads

# Configuration file ownership
**/config/** @devops-leads @platform-engineers

# Package dependencies ownership with security review
package.json @project-leads @security-team
