Repository Dashon/multichat-t27wj9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @ai-team-leads, @ml-engineers, @security-team, @backend-leads, @api-team, @messaging-team, @preference-team, @auth-team, @frontend-leads, @web-team, @qa-leads, @test-engineers, @devops-leads, @platform-engineers, @ci-team, @sre-team, @crypto-specialists, @compliance-team, @tech-writers, @db-team

Add public-samples/multichat-t27wj9/src/test/scripts/run-e2e.sh
  src/test/scripts/run-e2e.sh
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/scripts/run-integration.sh
  src/test/scripts/run-integration.sh
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/scripts/run-performance.sh
  src/test/scripts/run-performance.sh
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/scripts/run-security.sh
  src/test/scripts/run-security.sh
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/scripts/setup-test-db.sh
  src/test/scripts/setup-test-db.sh
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/security/api/injection-prevention.test.ts
  src/test/security/api/injection-prevention.test.ts
Owners: @security-team, @project-leads

Add public-samples/multichat-t27wj9/src/test/security/api/rate-limit-bypass.test.ts
  src/test/security/api/rate-limit-bypass.test.ts
Owners: @security-team, @project-leads

Add public-samples/multichat-t27wj9/src/test/security/auth/jwt-security.test.ts
  src/test/security/auth/jwt-security.test.ts
Owners: @security-team, @auth-team, @backend-leads

Add public-samples/multichat-t27wj9/src/test/security/auth/oauth-flow.test.ts
  src/test/security/auth/oauth-flow.test.ts
Owners: @security-team, @auth-team, @backend-leads

Add public-samples/multichat-t27wj9/src/test/security/data/data-encryption.test.ts
  src/test/security/data/data-encryption.test.ts
Owners: @security-team, @project-leads

Add public-samples/multichat-t27wj9/src/test/security/data/pii-protection.test.ts
  src/test/security/data/pii-protection.test.ts
Owners: @security-team, @project-leads

Add public-samples/multichat-t27wj9/src/test/utils/ai-agent-mock.ts
  src/test/utils/ai-agent-mock.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/utils/db-cleanup.ts
  src/test/utils/db-cleanup.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/utils/mock-data.ts
  src/test/utils/mock-data.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/utils/test-helpers.ts
  src/test/utils/test-helpers.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/utils/test-setup.ts
  src/test/utils/test-setup.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/test/utils/websocket-client.ts
  src/test/utils/websocket-client.ts
Owners: @qa-leads, @test-engineers

Add public-samples/multichat-t27wj9/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/README.md
  src/web/README.md
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/app.json
  src/web/app.json
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/babel.config.js
  src/web/babel.config.js
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/index.native.tsx
  src/web/index.native.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/index.web.tsx
  src/web/index.web.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/metro.config.js
  src/web/metro.config.js
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/package.json
  src/web/package.json
Owners: @project-leads, @security-team

Add public-samples/multichat-t27wj9/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/public/index.html
  src/web/public/index.html
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/ai/AgentBubble.tsx
  src/web/src/components/ai/AgentBubble.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/ai/AgentList.tsx
  src/web/src/components/ai/AgentList.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/ai/AgentPanel.tsx
  src/web/src/components/ai/AgentPanel.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/ai/AgentResponse.tsx
  src/web/src/components/ai/AgentResponse.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/chat/ChatBubble.tsx
  src/web/src/components/chat/ChatBubble.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/chat/ChatHeader.tsx
  src/web/src/components/chat/ChatHeader.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/chat/ChatInput.tsx
  src/web/src/components/chat/ChatInput.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/chat/ChatList.tsx
  src/web/src/components/chat/ChatList.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/chat/ChatRoom.tsx
  src/web/src/components/chat/ChatRoom.tsx
Owners: @frontend-leads, @web-team

.github/CODEOWNERS:

* @project-leads

# AI service and ML components ownership with security oversight
/src/backend/ai-service/** @ai-team-leads @ml-engineers @security-team

# API Gateway service ownership with security review
/src/backend/api-gateway/** @backend-leads @api-team @security-team

# Message service ownership
/src/backend/message-service/** @backend-leads @messaging-team

# Preference engine ownership
/src/backend/preference-engine/** @ai-team-leads @preference-team

# User service and authentication ownership with security review
/src/backend/user-service/** @backend-leads @auth-team @security-team

# Web application ownership
/src/web/** @frontend-leads @web-team

# Test suite ownership
/src/test/** @qa-leads @test-engineers

# Infrastructure and deployment ownership with security review
infrastructure/** @devops-leads @platform-engineers @security-team

# CI/CD workflow ownership
.github/workflows/** @devops-leads @ci-team

# Protocol buffer definitions ownership
**/*.proto @backend-leads @api-team

# Security-related code ownership
**/security/** @security-team @project-leads

# Monitoring and observability ownership
**/monitoring/** @devops-leads @sre-team

# Authentication code ownership with mandatory security review
**/auth/** @security-team @auth-team @backend-leads

# Cryptography code ownership
**/encryption/** @security-team @crypto-specialists

# Compliance-related code ownership
**/compliance/** @security-team @compliance-team

# Documentation ownership
**/docs/** @tech-writers @project-leads

# Database schema and migration ownership
**/database/** @db-team @backend-leads

# Configuration file ownership
**/config/** @devops-leads @platform-engineers

# Package dependencies ownership with security review
package.json @project-leads @security-team
