Repository Dashon/multichat-t27wj9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @ai-team-leads, @ml-engineers, @security-team, @backend-leads, @api-team, @messaging-team, @preference-team, @auth-team, @frontend-leads, @web-team, @qa-leads, @test-engineers, @devops-leads, @platform-engineers, @ci-team, @sre-team, @crypto-specialists, @compliance-team, @tech-writers, @db-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/src/utils/logger.py
  src/backend/ai-service/src/utils/logger.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/tests/__init__.py
  src/backend/ai-service/tests/__init__.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/tests/conftest.py
  src/backend/ai-service/tests/conftest.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/tests/test_agents.py
  src/backend/ai-service/tests/test_agents.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/ai-service/tests/test_context.py
  src/backend/ai-service/tests/test_context.py
Owners: @ai-team-leads, @ml-engineers, @security-team

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @backend-leads, @api-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/server.ts
  src/backend/api-gateway/src/server.ts
Owners: @backend-leads, @api-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/config/cors.config.ts
  src/backend/api-gateway/src/config/cors.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/config/rate-limit.config.ts
  src/backend/api-gateway/src/config/rate-limit.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/config/routes.config.ts
  src/backend/api-gateway/src/config/routes.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @backend-leads, @api-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/middleware/error.middleware.ts
  src/backend/api-gateway/src/middleware/error.middleware.ts
Owners: @backend-leads, @api-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/middleware/logging.middleware.ts
  src/backend/api-gateway/src/middleware/logging.middleware.ts
Owners: @backend-leads, @api-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/middleware/validation.middleware.ts
  src/backend/api-gateway/src/middleware/validation.middleware.ts
Owners: @backend-leads, @api-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/services/proxy.service.ts
  src/backend/api-gateway/src/services/proxy.service.ts
Owners: @backend-leads, @api-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/api-gateway/src/utils/jwt.utils.ts
  src/backend/api-gateway/src/utils/jwt.utils.ts
Owners: @backend-leads, @api-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/api-gateway/tests/integration/gateway.test.ts
  src/backend/api-gateway/tests/integration/gateway.test.ts
Owners: @backend-leads, @api-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/api-gateway/tests/unit/auth.test.ts
  src/backend/api-gateway/tests/unit/auth.test.ts
Owners: @backend-leads, @api-team, @security-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/app.ts
  src/backend/message-service/src/app.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/server.ts
  src/backend/message-service/src/server.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/config/database.config.ts
  src/backend/message-service/src/config/database.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/message-service/src/config/redis.config.ts
  src/backend/message-service/src/config/redis.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/message-service/src/config/websocket.config.ts
  src/backend/message-service/src/config/websocket.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/backend/message-service/src/controllers/message.controller.ts
  src/backend/message-service/src/controllers/message.controller.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/controllers/thread.controller.ts
  src/backend/message-service/src/controllers/thread.controller.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/events/message.events.ts
  src/backend/message-service/src/events/message.events.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/interfaces/message.interface.ts
  src/backend/message-service/src/interfaces/message.interface.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/interfaces/thread.interface.ts
  src/backend/message-service/src/interfaces/thread.interface.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/models/message.model.ts
  src/backend/message-service/src/models/message.model.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/models/thread.model.ts
  src/backend/message-service/src/models/thread.model.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/repositories/message.repository.ts
  src/backend/message-service/src/repositories/message.repository.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/repositories/thread.repository.ts
  src/backend/message-service/src/repositories/thread.repository.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/routes/message.routes.ts
  src/backend/message-service/src/routes/message.routes.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/routes/thread.routes.ts
  src/backend/message-service/src/routes/thread.routes.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/services/message.service.ts
  src/backend/message-service/src/services/message.service.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/services/thread.service.ts
  src/backend/message-service/src/services/thread.service.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/src/utils/validation.ts
  src/backend/message-service/src/utils/validation.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/tests/integration/message.test.ts
  src/backend/message-service/tests/integration/message.test.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/message-service/tests/unit/message.test.ts
  src/backend/message-service/tests/unit/message.test.ts
Owners: @backend-leads, @messaging-team

Add public-samples/multichat-t27wj9/src/backend/preference-engine/src/__init__.py
  src/backend/preference-engine/src/__init__.py
Owners: @ai-team-leads, @preference-team

.github/CODEOWNERS:

* @project-leads

# AI service and ML components ownership with security oversight
/src/backend/ai-service/** @ai-team-leads @ml-engineers @security-team

# API Gateway service ownership with security review
/src/backend/api-gateway/** @backend-leads @api-team @security-team

# Message service ownership
/src/backend/message-service/** @backend-leads @messaging-team

# Preference engine ownership
/src/backend/preference-engine/** @ai-team-leads @preference-team

# User service and authentication ownership with security review
/src/backend/user-service/** @backend-leads @auth-team @security-team

# Web application ownership
/src/web/** @frontend-leads @web-team

# Test suite ownership
/src/test/** @qa-leads @test-engineers

# Infrastructure and deployment ownership with security review
infrastructure/** @devops-leads @platform-engineers @security-team

# CI/CD workflow ownership
.github/workflows/** @devops-leads @ci-team

# Protocol buffer definitions ownership
**/*.proto @backend-leads @api-team

# Security-related code ownership
**/security/** @security-team @project-leads

# Monitoring and observability ownership
**/monitoring/** @devops-leads @sre-team

# Authentication code ownership with mandatory security review
**/auth/** @security-team @auth-team @backend-leads

# Cryptography code ownership
**/encryption/** @security-team @crypto-specialists

# Compliance-related code ownership
**/compliance/** @security-team @compliance-team

# Documentation ownership
**/docs/** @tech-writers @project-leads

# Database schema and migration ownership
**/database/** @db-team @backend-leads

# Configuration file ownership
**/config/** @devops-leads @platform-engineers

# Package dependencies ownership with security review
package.json @project-leads @security-team
