Repository Dashon/multichat-t27wj9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @ai-team-leads, @ml-engineers, @security-team, @backend-leads, @api-team, @messaging-team, @preference-team, @auth-team, @frontend-leads, @web-team, @qa-leads, @test-engineers, @devops-leads, @platform-engineers, @ci-team, @sre-team, @crypto-specialists, @compliance-team, @tech-writers, @db-team

.github/CODEOWNERS:

* @project-leads

# AI service and ML components ownership with security oversight
/src/backend/ai-service/** @ai-team-leads @ml-engineers @security-team

# API Gateway service ownership with security review
/src/backend/api-gateway/** @backend-leads @api-team @security-team

# Message service ownership
/src/backend/message-service/** @backend-leads @messaging-team

# Preference engine ownership
/src/backend/preference-engine/** @ai-team-leads @preference-team

# User service and authentication ownership with security review
/src/backend/user-service/** @backend-leads @auth-team @security-team

# Web application ownership
/src/web/** @frontend-leads @web-team

# Test suite ownership
/src/test/** @qa-leads @test-engineers

# Infrastructure and deployment ownership with security review
infrastructure/** @devops-leads @platform-engineers @security-team

# CI/CD workflow ownership
.github/workflows/** @devops-leads @ci-team

# Protocol buffer definitions ownership
**/*.proto @backend-leads @api-team

# Security-related code ownership
**/security/** @security-team @project-leads

# Monitoring and observability ownership
**/monitoring/** @devops-leads @sre-team

# Authentication code ownership with mandatory security review
**/auth/** @security-team @auth-team @backend-leads

# Cryptography code ownership
**/encryption/** @security-team @crypto-specialists

# Compliance-related code ownership
**/compliance/** @security-team @compliance-team

# Documentation ownership
**/docs/** @tech-writers @project-leads

# Database schema and migration ownership
**/database/** @db-team @backend-leads

# Configuration file ownership
**/config/** @devops-leads @platform-engineers

# Package dependencies ownership with security review
package.json @project-leads @security-team

Add public-samples/multichat-t27wj9/src/web/src/components/chat/MessageThread.tsx
  src/web/src/components/chat/MessageThread.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/common/Avatar.tsx
  src/web/src/components/common/Avatar.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/common/Badge.tsx
  src/web/src/components/common/Badge.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/common/Divider.tsx
  src/web/src/components/common/Divider.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/common/Icon.tsx
  src/web/src/components/common/Icon.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/common/Input.tsx
  src/web/src/components/common/Input.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/common/Loading.tsx
  src/web/src/components/common/Loading.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/common/Modal.tsx
  src/web/src/components/common/Modal.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/common/Toast.tsx
  src/web/src/components/common/Toast.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/poll/PollCreate.tsx
  src/web/src/components/poll/PollCreate.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/poll/PollList.tsx
  src/web/src/components/poll/PollList.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/poll/PollOption.tsx
  src/web/src/components/poll/PollOption.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/poll/PollResults.tsx
  src/web/src/components/poll/PollResults.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/recommendation/RecommendationCard.tsx
  src/web/src/components/recommendation/RecommendationCard.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/recommendation/RecommendationList.tsx
  src/web/src/components/recommendation/RecommendationList.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/user/UserAvatar.tsx
  src/web/src/components/user/UserAvatar.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/user/UserProfile.tsx
  src/web/src/components/user/UserProfile.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/components/user/UserSettings.tsx
  src/web/src/components/user/UserSettings.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/config/api.config.ts
  src/web/src/config/api.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/web/src/config/constants.ts
  src/web/src/config/constants.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/web/src/config/routes.config.ts
  src/web/src/config/routes.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/web/src/config/theme.config.ts
  src/web/src/config/theme.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/web/src/config/websocket.config.ts
  src/web/src/config/websocket.config.ts
Owners: @devops-leads, @platform-engineers

Add public-samples/multichat-t27wj9/src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/hooks/useChat.ts
  src/web/src/hooks/useChat.ts
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/hooks/useMessage.ts
  src/web/src/hooks/useMessage.ts
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/hooks/usePoll.ts
  src/web/src/hooks/usePoll.ts
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/hooks/usePreference.ts
  src/web/src/hooks/usePreference.ts
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/hooks/useRecommendation.ts
  src/web/src/hooks/useRecommendation.ts
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/hooks/useTheme.ts
  src/web/src/hooks/useTheme.ts
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/hooks/useWebSocket.ts
  src/web/src/hooks/useWebSocket.ts
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/locales/en.json
  src/web/src/locales/en.json
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/navigation/AppNavigator.tsx
  src/web/src/navigation/AppNavigator.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/navigation/AuthNavigator.tsx
  src/web/src/navigation/AuthNavigator.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/navigation/ChatNavigator.tsx
  src/web/src/navigation/ChatNavigator.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/navigation/SettingsNavigator.tsx
  src/web/src/navigation/SettingsNavigator.tsx
Owners: @frontend-leads, @web-team

Add public-samples/multichat-t27wj9/src/web/src/screens/auth/LoginScreen.tsx
  src/web/src/screens/auth/LoginScreen.tsx
Owners: @security-team, @auth-team, @backend-leads

Add public-samples/multichat-t27wj9/src/web/src/screens/auth/RegisterScreen.tsx
  src/web/src/screens/auth/RegisterScreen.tsx
Owners: @security-team, @auth-team, @backend-leads
